<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.mapper.CommentMapper">

    <resultMap id="BaseResultMap" type="com.study.entity.Comment">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="commentName" column="comment_name" jdbcType="VARCHAR"/>
            <result property="commentAvatar" column="comment_avatar" jdbcType="VARCHAR"/>
            <result property="comment" column="comment" jdbcType="VARCHAR"/>
            <result property="time" column="time" jdbcType="VARCHAR"/>
            <result property="topArticle" column="top_article" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,comment_name,comment_avatar,
        comment,time,top_article
    </sql>
</mapper>
